.containerOraseFavorite{
  display: flex;
  flex-direction: column;
}
.containerOraseFavorite a{
  display: inline;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 5px 0;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}