.containerFavorite{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}



.oras{
    margin: 30px;
}

.oras a{
    text-decoration: none;
    color: black;
    padding: 10px;
}